.cursor-ring{

    position:fixed;

    left:0;
    top:0;

    width:26px;
    height:26px;

    border:2px solid #8B5CF6;

    border-radius:50%;

    transform:translate(-50%,-50%);

    pointer-events:none;

    z-index:9999;

    transition:
        border-color .3s ease,
        box-shadow .3s ease,
        transform .08s linear;

    box-shadow:
        0 0 8px rgba(139,92,246,.7),
        0 0 18px rgba(139,92,246,.5),
        0 0 30px rgba(139,92,246,.35);
}

.cursor-grow{

    border-color:#EC4899;

    box-shadow:
        0 0 12px rgba(236,72,153,.9),
        0 0 24px rgba(236,72,153,.6),
        0 0 40px rgba(236,72,153,.4);
}