*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.skill{
    min-height: 100vh;
     padding:70px 0 20px;
    
    background:
        linear-gradient(rgba(9,10,31,.85),rgba(13, 15, 49, 0.9)),
        url("../assets/skillbg.png");

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;

}

.skill-body{
    width:90%;
    margin:auto;
}

.skill-body h1{
    margin-top: 30px;
    color:white;
    font-size:42px;
    margin-bottom:50px;
    position:relative;
    display:inline-block;
     transition: .4s ease;
}
.skill-body h1:hover{
    letter-spacing: 2px;
    text-shadow: 0 0 15px rgba(139,92,246,.7);
}

.skill-list{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:35px;
}

.skill-content{
    background:rgba(24,26,54,.9);
    border:1px solid rgba(255,255,255,.08);
    border-radius:20px;
    padding:30px;
    min-height:320px;
    transition:.35s ease;
}

.skill-content:hover{
    transform:translateY(-5px);
    border-color:#8B5CF6;
    box-shadow:0 18px 35px rgba(139,92,246,.18);
}

.skill-content h2{
    color:white;
    font-size:24px;
    margin-bottom:25px;
}

.item{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
    gap:20px;
}

.item-s{
    background:#242544;
    border:1px solid rgba(255,255,255,.08);
    border-radius:16px;
    height:125px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:12px;
    transition:.3s ease;
    cursor:pointer;
}

.item-s:hover{
    transform:translateY(-8px);
    border-color:#8B5CF6;
    box-shadow:0 12px 25px rgba(139,92,246,.25);
}



/* Tableau & Power BI */
.icon-img{
    width:65px;
    height:65px;
    background:#fff;
    padding:8px;
    border-radius:12px;
    object-fit:contain;
    transition:.3s ease;
}


.item-s:hover .icon,
.item-s:hover .icon-img{
    transform:scale(1.15);
}

.item-s span{
    color:#fff;
    font-size:15px;
    font-weight:500;
}

/* Brand Colors */

.html{
    
    color:#E34F26;
}

.css{
    color:#1572B6;
}

.js{
    color:#F7DF1E;
}

.react{
    color:#61DAFB;
}

.node{
    color:#68A063;
}

.express{
    color:#ffffff;
}

.mongo{
    color:#47A248;
}

.mysql{
    color:#64adbd;
}

.github{
    color:#ffffff;
}

.vscode{
    color:#007ACC;
}

.figma{
    color:#F24E1E;
}

/* Responsive */

@media(max-width:992px){

.skill-list{
    grid-template-columns:1fr;
}

.skill-content{
    min-height:auto;
}

}

@media(max-width:600px){

.skill-body{
    width:95%;
}

.skill-body h1{
    font-size:34px;
}

.item{
    grid-template-columns:repeat(2,1fr);
}

.item-s{
    height:110px;
}

.icon{
    font-size:42px;
}

.icon-img{
    width:48px;
    height:48px;
}

}